@import url('https://fonts.googleapis.com/css2?family=Montserrat+Subrayada:wght@700&display=swap');

body {
    background-color: rgb(240, 239, 239);
}

header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid #000;
}

img {
    filter: grayscale(70%);
}

h1 {
    font-family: 'Montserrat Subrayada', sans-serif;
    text-decoration: none;
    font-size: 4rem;
    margin: 0;
}

h2 {
   font-family: 'Montserrat Subrayada', sans-serif; 
}

h3 {
    font-size: 2rem;
    margin: 0;
}

#header-text {
    flex-basis: 80%;
    display: flex;
}

nav {
    flex-basis: 20%;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

a {
    margin: 2px;
    text-decoration: none;
    color: #000;
}

a, p {
    font-family: monospace;
}

form {
    background: linear-gradient(to right, #ffffff 0%, #ff68aa 51%, #e30868 100% );
    color: #e30868;
}

form p {
    width: 200px;
    font-size: 15px;
}

form input {
    font-size: 15px;
    color:#7660d6;
    border-radius: 5px;
    border: 1px solid grey;
}

form textarea {
    font-size: 15px;
    color:#7660d6;
    border-radius: 5px;
}


