{% extends "base.html" %}

{% block content %}
    <h2>Author List</h2>
    <!-- <a href="{% url 'news:newsStory' %}"><button>Write New Story</button></a> -->
    {% if author_list %}
    
        {% for author in author_list %}
        <div id="latest-stories"> 

                <!-- <img src = {{ story.image_url }}> -->
                    <div class="story-card-text">
                        <h4>{{ author.first_name }} {{ author.last_name }} {{author.username}}
                            <a href="{% url 'users:user-detail' pk=author.id %}"> {{ author.stories.count }} Stories</a>
                        </h4>
                             
                        <!-- <h4>{{ story.pub_date }}</h4> -->
                    </div>
            </a>
        </div>
        {% endfor %}
    </ul>
        {% else %}
            <p>There are no authors.</p>
        {% endif %}       
{% endblock %}