{% extends "base.html" %}

{% block content %}

    
    <a href="{% url 'news:newsStory' %}"><button>Write New Story</button></a>
    {% if story_list %}
    <h2>{{ story_list.0.author }}'s Published Stories</h2>
        {% for story in story_list %}
        <div id="latest-stories"> 
            <a href="{% url 'news:story' story.id %}">
                <img src = {{ story.image_url }}>
                    <div class="story-card-text">
                        <h3>{{ story.title }}</h3>
                        <h4>{{ story.pub_date }}</h4>
                    </div>
            </a>
        </div>
        {% endfor %}
    </ul>
        {% else %}
            <p>No Published stories from {{ story.author }}.</p>
        {% endif %}       
{% endblock %}